body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(226, 240, 254) 0%,
    rgb(255, 247, 228) 90%
  );
}

.weather-app {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );

  padding: 20px;
  border: 1px solid #413f41;
  border-radius: 5px;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}
button {
  cursor: pointer;
  border: 1px solid;
  border-radius: 2px;
  background: none;
  margin-left: 30px;
}
input {
  border: none;
  border-bottom: 1px solid gray;
  background: none;
  outline: none;
  color: inherit;
}
h1 {
  font-size: 35px;
  font-weight: 100px;
  line-height: 28px;
  color: #878787;
  margin-top: 30px;
  margin-left: 30px;
}
h2 {
  font-size: 16px;
  color: #565454;
  font-weight: 100px;
  line-height: 19px;
  margin-left: 30px;
}
li {
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
}
a {
  text-decoration: none;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #565454;
}
.weather-forecast-temp {
  color: white;
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
